@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section home-v2-hero wf-section">
    <div class="container-medium-710px home-v2-hero">
        <h1 data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="font-size: 68px;" class="title home-v2-hero">INNOVATIVE SOLUTION FOR CAR BUSINESS</h1>
        <p data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="" class="paragraph home-v2-hero">Karage is your partner in achieving operational excellence.</p>
        <div data-w-id="a295b755-f7b6-c4a2-e919-d1050ead6efc" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="_2-buttons">
            <a href="@Url.Action("TryForFree", "LandingPages")" class="button-lightgreen w-button" style="margin-right: 5px;margin-left: 5px;"> Try it for - Free</a>
            <a href="@Url.Action("Contact", "Home")" class="button-secondary button-white _2-buttons-button w-button" style="margin-left: 5px;margin-right: 5px">Contact Sales</a>
        </div>
    </div>
</div>

<div class="wf-section">
    <div class="container-default w-container" style="padding-bottom: 100px;">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid perks-grid">
            <div class="card perk">
                <a href="@Url.Action("Kashier", "LandingPages")">
                    <img src="../images/kashier-home.png" data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="Business - Startup X Webflow Template" class="image perk">
                    <div class="card-perk-content">
                        <h3 class="title card-perk">Kashier</h3>
                        <p class="paragraph card-perk">POS system to manage service centers and track inventory</p>
                    </div>
                </a>
            </div>
            <div class="card perk">
                <a href="@Url.Action("Pocket", "LandingPages")">
                    <img src="../images/pocket-home.png" data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="Business - Startup X Webflow Template" class="image perk">
                    <div class="card-perk-content">
                        <h3 class="title card-perk">Pocket</h3>
                        <p class="paragraph card-perk">
                            Fastest POS for invoicing from any Android device
                        </p>
                    </div>
                </a>
            </div>
            <div class="card perk">
                <a href="@Url.Action("MyKarage", "LandingPages")">
                    <img src="../images/mykarage-home.png" data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" alt="Enterprises - Startup X Webflow Template" class="image perk">
                    <div class="card-perk-content">
                        <h3 class="title card-perk">My Karage</h3>
                        <p class="paragraph card-perk">
                            Organize cars and helps find nearby service centers
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="section bg-companyperk-1 features wf-section">
    <div class="container-medium-616px features">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="subtitle contact-faqs black-100">SECTORS</div>
        <h2 data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title contact-faqs black-100">All-in-One Solution for every Service Center Needs</h2>
    </div>
    <div class="container-default w-container">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="w-layout-grid features-grid">
            <div class="cardw feature">
                <img src="~/images/1.svg" alt="Mobile And Desktop - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Oil change & Maintenance</h2>
                    <p class="paragraph card-feature">Easily schedule oil changes and manage maintenance appointments</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/2.svg" alt="Support - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Protection & Polishing</h2>
                    <p class="paragraph card-feature">Organize painting and dent tasks to improve efficiency at your center</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/3.svg" alt="Currencies - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Painting & Denting</h2>
                    <p class="paragraph card-feature">Job cards help you streamline maintenance and repair operations</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/4.svg" alt="Earnings - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Tyres & Batteries</h2>
                    <p class="paragraph card-feature">Maintenance reminders ensure quick service for protection and polishing</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/5.svg" alt="Security Encryption - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Mechanic</h2>
                    <p class="paragraph card-feature">Link warranties to invoices for simple tracking, no paper cards needed</p>
                </div>
            </div>
            <div class="cardw feature">
                <img src="~/images/6.svg" alt="Trading - Startup X Webflow Template" class="image card-feature">
                <div class="card-feature-content">
                    <h2 class="title h3-size card-feature">Programming</h2>
                    <p class="paragraph card-feature">Custom checklists give tools to evaluate electrical systems accurately</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section wf-section">
    <div class="container-default w-container">
        <div class="clients-wrapper">
            <div class="clients-individuals-wrapper">
                <div data-w-id="0fc6d2fb-3373-ba49-deaa-2777017e862b" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-individuals-left">
                    <div class="subtitle-wrapper clients-individuals">
                        <div class="subtitle">FOR OWNERS</div>
                    </div>
                    <h2 class="title clients-individuals">Karage is the Solution for Business Owners</h2>
                    <p class="paragraph clients-individuals">Offering full control over your car service center. You can effortlessly manage operations with real-time insights, track sales, inventory, and employee performance from anywhere</p>
                </div>
                <div class="split-content clients-individuals-right">
                    <div class="w-layout-grid clients-individuals-features-grid">
                        <div data-w-id="4304d301-6c0c-113c-89ae-e34232b7b76e" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-individuals-feature-wrapper">
                            <img src="../images/checkbox.svg" alt="Check Icon - Startup X Webflow Template" class="image clients-individuals-feature-icon">
                            <div>Real-time Analytics</div>
                        </div>
                        <div data-w-id="e23deb7a-b044-ff3c-419e-80138b890369" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-individuals-feature-wrapper">
                            <img src="../images/checkbox.svg" alt="Check Icon - Startup X Webflow Template" class="image clients-individuals-feature-icon">
                            <div>Seamless Access Across All Devices</div>
                        </div>
                    </div>
                    <div class="image-wrapper clients-individuals">
                        <img src="../images/container.png" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="ab4c956b-bebb-26b0-00d3-d57a40d13b63" srcset="../images/container.png 500w, ../images/container.png 800w, ../images/container.png 1078w" alt="Testimonials - Startup X Webflow Template" class="image clients-individuals">
                    </div>
                </div>
            </div>
            <div class="clients-startups-wrapper">
                <div class="split-content clients-startups-left">
                    <div class="image-wrapper clients-startups"><img src="../images/container2.png" sizes="100vw" style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.1, 1.1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" data-w-id="56d89eb4-d2b4-de77-7d2b-81030e6208a3" srcset="../images/container2.png 500w, ../images/container2.png 800w, ../images/container2.png 1076w" alt="Our Team - Startup X Webflow Template" class="image clients-startups"></div>
                    <div data-w-id="b06ef9fb-af76-ccfc-1a83-6f36c2b2cdda" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="clients-startups-achievement">
                        <div class="clients-startups-achievement-number">15K<span class="accent-text-primary-1">+</span></div>
                        <div class="clients-startups-achievement-text">Monthly active users</div>
                    </div>
                </div>
                <div data-w-id="b1aeb79b-04c3-2497-4e3c-e2f68e511e59" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="split-content clients-startups-right">
                    <div class="subtitle-wrapper clients-startups">
                        <div class="subtitle">FOR CUSTOMERS</div>
                    </div>
                    <h2 class="title clients-startups">
                        Stay connected with customers
                    </h2>
                    <p class="paragraph clients-startups">Karage lets customers access vehicle info in one place. They can track maintenance, get service reminders, and view invoices instantly. Karage ensures transparency and long-term satisfaction</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-secondary-1 contact-form wf-section" style="background:#b6f074">
    <div class="container-default w-container">
        <div class="contact-form-wrapper">
            <div data-w-id="cf52aed8-91d5-0d11-757b-9ba8c62968f1" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="card contact-form">
                <div class="card-contact-form-block w-form">
                    <h1 class="title h2-size request-demo-content">Schedule a demo today</h1>

                    <form id="wf-form-Request-Demo-Form" name="wf-form-Request-Demo-Form" data-name="Request Demo Form" class="card-request-demo-form" onsubmit="return handleFormSubmission(event);">
                        <input type="text" class="input name-icon w-input Name" maxlength="256" name="name" data-name="Name" placeholder="Name" id="name" required>
                        <input type="email" class="input email-icon w-input Email" maxlength="256" name="email" data-name="Email" placeholder="Email" id="email" required>
                        <input type="tel" class="input phone-icon w-input Phone" maxlength="256" name="Phone" data-name="Phone" placeholder="Phone number" id="phone" required>
                        <input type="text" class="input company-icon v2 w-input Company" maxlength="256" name="Company" data-name="Company" placeholder="Company" id="company" required>
                        <input type="text" class="input w-input CompanySize" maxlength="256" name="Company-Size" data-name="Company Size" placeholder="Company Size" id="Company-Size" required>
                        <input type="text" class="input position-icon w-input Position" maxlength="256" name="Position" data-name="Position" placeholder="Position" id="position" required>

                        <button type="submit" class="button-primary request-demo w-button" id="submitBtn">
                            Schedule a demo
                        </button>

                        <div id="loader" style="display: none;">Submitting...</div>
                    </form>

                    <div class="success-message w-form-done" style="display: none;">
                        <div>Your message has been submitted. <br>We will get back to you within 24-48 hours.</div>
                    </div>
                    <div class="error-message w-form-fail" style="display: none;">
                        <div>Oops! Something went wrong.</div>
                    </div>
                </div>
            </div>

            <div class="contact-form-content">
                <div class="request-demo-content-top">
                    <h1 class="title h2-size request-demo-content">Get a free demo with our sales team </h1>
                    <p class="paragraph request-demo-content">Let us help you get started with the right tools for your business</p>
                </div>
                <div class="request-demo-content-bottom">
                    <div class="card request-demo-content-team">
                        <img src="../images/profile.png" alt="John Carter - Startup X Webflow Template" class="image request-demo-content-team">
                        <div class="request-demo-content-team-content">
                            <div class="request-demo-content-team-name">Mohannad Albosh</div>
                            <div class="request-demo-content-team-position">Customer Success</div>
                        </div>
                    </div>
                    <div class="request-demo-features-wrapper">
                        <h3 class="title request-demo-content-features">What can you expect?</h3>
                        <div class="w-layout-grid request-demo-content-features-grid">
                            <div class="request-demo-content-feature-wrapper">
                                <img src="../images/checkbox.svg" alt="Check Icon - Startup X Webflow Template" class="request-demo-content-feature-icon">
                                <div>All products demo</div>
                            </div>
                            <div class="request-demo-content-feature-wrapper">
                                <img src="../images/checkbox.svg" alt="Check Icon - Startup X Webflow Template" class="request-demo-content-feature-icon">
                                <div>Free trial for 14 days</div>
                            </div>
                            <div class="request-demo-content-feature-wrapper">
                                <img src="../images/checkbox.svg" alt="Check Icon - Startup X Webflow Template" class="request-demo-content-feature-icon">
                                <div>Free installation</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg contact-form" style="background:#fdf9f4;">
        <img src="images/shape-1-contact-form-startup-x-template.svg" data-w-id="07e8e4ce-9f56-6e02-1ec0-b049fa3889e4" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" alt="" class="bg contact-form-shape-1">
        <div data-w-id="46333bf7-5105-f229-5301-8144c0c9c944" style="-webkit-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0.8, 0.8, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);opacity:0" class="bg contact-form-shape-2"></div>
    </div>
</div>

<div class="section wf-section" style="padding-top: 250px; padding-bottom: 250px;">
    <div class="container-default faqs">
        <h2 data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title clients-individuals">Frequently Asked Questions</h2>
    </div>
    <div class="container-default w-container">
        <div data-w-id="68d7f947-d78b-27ba-bbca-e282fc65cd57" style="-webkit-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 35px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="faqs-wrapper v2">
            <div class="split-content faqs-left contact">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">What is Karage, and how can it help my business?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Karage is a comprehensive platform designed to streamline operations for car service centers, enhancing efficiency and customer satisfaction.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">Is Karage suitable for small businesses?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Yes, Karage supports businesses of all sizes with scalable solutions.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">What types of features does Karage offer?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Karage offers inventory management, invoicing, employee tracking, and CRM tools.</p>
                    </div>
                </div>
            </div>
            <div class="split-content faqs-right contact">
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">How secure is my data on Karage?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Karage prioritizes data security with encryption, ensuring safety.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">Can I integrate Karage with other tools I already use?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Yes, Karage supports integration with various platforms for easy connections.</p>
                    </div>
                </div>
                <div class="card faq">
                    <div class="card-faq-content-top">
                        <h3 class="title card-faq">What platforms does Karage support?</h3>
                        <div class="card-faq-icon-wrapper">
                            <div class="card-faq-icon-1"></div>
                            <div class="card-faq-icon-2"></div>
                        </div>
                    </div>
                    <div class="card-faq-content-bottom">
                        <div class="space card-faq"></div>
                        <p class="paragraph card-faq">Karage is available on Android and iPad, with a dashboard accessible on all devices.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section bg-primary-1 cta-2 wf-section">
    <div class="container-default w-container">
        <div class="cta-2-wrapper">
            <h2 data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="title neutral-100 cta-2" style="color:#ECFBCC!important;">Control your business & Create a free account today</h2>
            <div data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" class="_2-buttons cta-2">
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="@Url.Action("TryForFree", "LandingPages")" class="button-primary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-primary-text">Try Karage <br>for free</div>
                    <div class="cta-2-button-primary-arrow"><img src="~/images/vectorgreen.svg" /></div>
                </a>
                <a data-w-id="64250280-a99e-4564-05be-35c4ed59bca3" href="@Url.Action("Contact", "Home")" class="button-secondary button-green cta-2 w-inline-block">
                    <div class="cta-2-button-secondary-text">Talk to <br>our sales team</div>
                    <div class="cta-2-button-secondary-icon"><img src="~/images/vector.svg" /></div>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    async function handleFormSubmission(event) {
        event.preventDefault(); // Prevent the default form submission

        // Disable the submit button and show loader
        const submitBtn = document.getElementById('submitBtn');
        submitBtn.disabled = true;
        document.getElementById('loader').style.display = 'block';

        // Hide previous messages
        document.querySelector('.success-message').style.display = 'none';
        document.querySelector('.error-message').style.display = 'none';

        // Collect form data
        const form = document.getElementById('wf-form-Request-Demo-Form');
        const formData = new FormData(form);

        try {
            // Send the form data to the server via fetch
            const response = await fetch('/Home/Subscribe', { // Replace with the correct controller path
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            console.log(result); // Log the server response for debugging

            // Hide loader
            document.getElementById('loader').style.display = 'none';
            document.querySelector('.error-message').style.display = 'none';

            if (result.success) {
                // Show success message
                document.querySelector('.success-message').style.display = 'block';
            } else {
                // Show error message with server response
                document.querySelector('.error-message').style.display = 'block';
                document.querySelector('.error-message').innerText = result.message || "Submission failed.";
            }
        } catch (error) {
            // Hide loader and show error message in case of a network error
            document.getElementById('loader').style.display = 'none';
            document.querySelector('.error-message').style.display = 'block';
            document.querySelector('.error-message').innerText = "An unexpected error occurred. Please try again.";
            console.error("Error:", error);
        } finally {
            // Re-enable the submit button after response or error
            submitBtn.disabled = false;
        }
    }
</script>